<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green_Harvest</title>
    <!-- Normalizasyon dosyasını ilk sıraya ekleyin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Font ve temel stilleri yükle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Projeye özgü temel stil dosyası -->
    <link rel="stylesheet" href="./css/base.css">

    <!-- Sayfaya özgü stil dosyası -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="../css/footer.css">

</head>

<body>
    <footer class="fote-r">
            <div class="container">
                <div class="div-one">
                    <svg class="icon-one" width="20" height="20">
                        <use href="../css/icon.svg#vector"></use>
                    </svg>
                    <a href="./index.html" class="ilk-a"><span class="span-a">GREEN.HARVEST</span>
                    </a>
                </div>
            </div>
        <div class="section-second">
            <div class="container">
                <div class="div-two">
                    <p class="yazi-i">Whether you're looking for a healthy 
                snack or a thoughtful gift, our fruit 
                baskets are the perfect choice.</p>
            </div>
            <ul class="one-ul">
                <li><a href="" class="one-li">HOW IT WORKS</a></li>
                <li><a href="" class="one-li">VEGETABLES</a></li>
                <li><a href="" class="one-li">REVIEWS</a></li>
            </ul>
            <address class="adre-s">
                <ul class="two-ul">
                    <li>
                        <a href="tel:+380(68)443-94-26" class="tel-no">+380 (68) 443-94-26</a>
                    </li>
                    <li>
                        <a href="adres:1678S.PioneerRoadSaltLakeCityUT84104" class="adr-ess">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                    </li>
                </ul>
            </address>
            </div>
            </div>  
            <div class="section-third">
                <div class="container">
                    <div class="privacy-policy">
                        <a class="priv-acy">Privacy Policy / Cookie settings</a>
                    </div>
                    <div class="green-harvest">
                        <a class="green-h">©Green Harvest 2023</a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>