<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green_Harvest</title>
    <!-- Normalizasyon dosyasını ilk sıraya ekleyin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font ve temel stilleri yükle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- Projeye özgü temel stil dosyası -->
    <link rel="stylesheet" href="./css/base.css">

    <!-- Sayfaya özgü stil dosyası -->
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <header>
        //TOLGA
    </header>
    <main>
        <section>
            //TOLGA
        </section>
        <section>
            //OKAN
        </section>
        <section>
            //FATMANUR
        </section>
        <section>
            //FATMANUR-2
        </section>
        <section>
            //ÖZKAN
        </section>
        <Section>
            //ÖZGEN 123
        </Section>
    </main>
    <footer>
        //BEYZA
    </footer>

</body>

</html>