.section-two {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.div-images {
  display: flex;
  align-items: center;
  padding: 100px;
  background-color: #7a3145;
}
.div-images img {
  width: 440px;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.section-two-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howitworks-div {
  display: flex;
  flex-direction: column;
  background-color: #576f35;
  padding: 100px;
  gap: 104px;
}
.section-two-h {
  color: white;
  gap: 24px;
}
.span-h {
  color: #d4bfc4;
}
.text-1 {
  width: 440px;
  height: 96px;
  font-family: "Inter Tight";
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.015em;
  line-height: 32px;
  text-transform: uppercase;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  padding: 0;
}
h2.text-1 {
  margin: 0;
}
.text-2 {
  width: 440px;
  height: 60px;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
p.text-2 {
  margin: 0;
}
.section-ol {
  width: 440px;
  color: grey;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 10px;
}
.item-number {
  padding: 11px 17px;
  background-color: #7a3145;
  color: #fbfbfb;
  font-family: "Inter Tight";
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  border: 5px solid #d4bfc4;
  border-radius: 50%;
}
.span-list {
  color: black;
  font-family: "Inter Tight";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.section-ol p {
  font-family: "Inter Tight";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  margin: 0;
}

/*TABLET TASARIM*/
@media (min-width: 768px) and (max-width: 1157px) {
  .section-two {
    flex-direction: column;
  }
  .div-images img {
    width: 640px;
  }
  .howitworks-div {
    gap: 52px;
  }
  .section-ol {
    margin: auto;
    width: 440px;
  }
  .span-list {
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

/*MOBIL*/

@media (min-width: 320px) and (max-width: 767px) {
  .section-two {
    flex-direction: column;
    text-align: start;
  }
  .div-images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 532px;
    padding: 40px 20px 40px 20px;
  }
  .text-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
}
