.your-order{
    background: rgba(87, 111, 53, 1);
    width: Hug (1,280px)px;
    height: Hug (1,036px)px;
    top: 3908px;
    padding: 100px 0px 0px 0px;
    gap: 52px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.your-order .text-fresh_title{
font-family: "Inter Tight" sans-serif;
font-size: 64px;
font-weight: 600;
line-height: 64px;
letter-spacing: -0.015em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 751px;
color:  rgba(251, 251, 251, 1);
;
}

.text-fresh_title .harvest-span{
    color: rgba(212, 191, 196, 1);
}

.text-fresh_text{
width: 742px;
height: 40px;
gap: 0px;
opacity: 0px;
font-family: "Inter Tight"sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-align: left;
text-underline-position:"from-font";
text-decoration-skip-ink: none;
color:  rgba(251, 251, 251, 1);
}

.form{
    width: 524px;
    height: 592px;
    padding: 52px 48px 52px 48px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    background: rgba(251, 251, 251, 1);

}

.form-text{
width: 428px;
height: 128px;
gap: 0px;
opacity: 0px;
font-family: "Inter Tight"sans-serif;
font-size: 32px;
font-weight: 600;
line-height: 32px;
letter-spacing: -0.015em;
text-align: left;
text-underline-position:"from-font" ;
text-decoration-skip-ink: none;
text-transform: uppercase;
}

.form-us{
    color: rgba(122, 49, 69, 1);
}

.the-form{
    color: rgba(87, 111, 53, 1);
}

.form-modal .input-btn  {
width: 100%;
padding: 16px 340px 16px 16px;
column-gap:16px;
border-radius: 30px;
border: 1px;  
flex-direction: column;
display: flex;
align-items: center;
border: 1px solid
rgba(133, 133, 133, 1);
color:rgba(20, 20, 20, 1);
/* margin-top: 52px; */
margin-bottom: 16px;
outline: none;
}

.form-modal .input-btn p{
        margin: 0;
}

.input-btn::placeholder{
    color: black;
}

.input-btn:focus{
    border-color: brown;
}

.input-btn:not(:placeholder-shown):invalid{
    border-color: red;
}

.input-btn:not(:placeholder-shown):valid{
    border-color: green;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.input-btn:not(:placeholder-shown):valid ~ 
.text-valid {
    display: block;
}

.input-btn:not(:placeholder-shown):invalid ~ 
.text-invalid {
    display: block;
}

.form-modal_btn{
    width: Fixed (428px)px;
height: Hug (52px)px;
padding: 16px 191px 16px 191px;
gap: 10px;
border-radius: 30px;
opacity: 0px;
background: rgba(122, 49, 69, 1);
color: rgba(251, 251, 251, 1);
font-family: "Inter Tight"sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.015em;
text-align: left;
text-underline-position: "from-font";
text-decoration-skip-ink: none;
text-transform: uppercase;
}

.form-modal_btn:hover{
    background-color: #FBFBFB;
    color: #7a3145;
}

/* DEVAM EDECEK */