<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green_Harvest</title>
    <!-- Normalizasyon dosyasını ilk sıraya ekleyin -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Font ve temel stilleri yükle -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- Projeye özgü temel stil dosyası -->
    <link rel="stylesheet" href="./css/base.css" />

    <!-- Sayfaya özgü stil dosyası -->
    <link rel="stylesheet" href="./css/styles.css" />

    <section id="advertisement" class="section section-white">
      <div class="container">
        <h2 class="visually-hidden">Advertisement</h2>
        <p class="three-second color-black discount advertisement-description">
          <span
            class="advertisement-discount three-second discount three-second-white"
            >Discount up to 40%!</span
          >
          Taste the vitamins and keep your health
        </p>
      </div>
    </section>
    <section class="four-section-vegetables" id="vegetables">
      <div class="container">
        <h2 class="four-second title-vegetables">
          Organic <span class="vegetables-accent color-blush">vegetables</span>
        </h2>
        <p
          class="Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible."
        ></p>
        <ul class="vegetables-cards">
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">
              Eggplant
            </h3>
            <p class="vegetables-fiyat">60 USD / kg</p>
          </li>
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">Leek</h3>
            <p class="vegetables-fiyat">50 USD / kg</p>
          </li>
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">
              Muhrooms
            </h3>
            <p class="vegetables-fiyat">40 USD / kg</p>
          </li>
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">Corn</h3>
            <p class="vegetables-fiyat">60 USD / kg</p>
          </li>
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">
              Sweet potatoes
            </h3>
            <p class="vegetables-fiyat">50 USD / kg</p>
          </li>
          <li class="vegetables-item">
            <h3 class="vegetables-item-title header-card color-cianti">
              Carrot
            </h3>
            <p class="vegetables-fiyat">40 USD / kg</p>
          </li>
        </ul>
      </div>
    </section>
  </head>
</html>
