<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green_Harvest</title>
    <!-- Normalizasyon dosyasını ilk sıraya ekleyin -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Font ve temel stilleri yükle -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- Projeye özgü temel stil dosyası -->
    <link rel="stylesheet" href="./css/base.css" />

    <!-- Sayfaya özgü stil dosyası -->
    <link rel="stylesheet" href="../css/advertisement.css" />
  </head>
  <body>
    <main>
      <section id="advertisement" class="section section-white">
        <div class="container">
          <h2 class="visually-hidden">Advertisement</h2>
          <p
            class="three-second color-black discount advertisement-description"
          >
            <span
              class="advertisement-discount three-second discount three-second-white"
              >Discount up to 40%!</span
            >
            Taste the vitamins and keep your health
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
