<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="your-order">
        <div class="text-fresh">
            <h2 class="text-fresh_title">FRESH 
                <span class="Harvest">HARVEST</span> 
                BOX HAS GOT YOU COVERED</h2>
            </h2>
            <p class="text-fresh_text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or 
                support local farmers. Order your box today and start enjoying the best that nature has to offer!
            </p>
        </div>
        <div class="form">
            
        </div>
        <div class="image-social">
            
        </div>
    </section>
</body>
</html>